- var name = "cardboard";
- var description = "…";
- var width = "2792";
- var height = "1574";

stellar-image.db(width=`${width}` height=`${height}` preload=`/assets/img/${name}/thumb.jpg`)
	source(srcset=`/assets/img/${name}/full.jpg` media="(min-width:1023px) and (min-device-pixel-ratio: 2)")
	source(srcset=`/assets/img/${name}/medium.jpg` media="(min-width:1023px)")
	source(srcset=`/assets/img/${name}/medium.jpg` media="(max-width:640px) and (min-device-pixel-ratio: 2)")
	source(srcset=`/assets/img/${name}/small.jpg` media="(max-width:640px)")
	img(srcset=`/assets/img/${name}/small.jpg` alt=`${description}`)
