- var theme = "red";
- var complement = "indigo";
- var tab = "home";
- var name = "Split Infinities";
- var title = "Freelance Product Engineer";
- var site_url = "https://splitinfinities.com";
- var image = "/assets/img/share.png";
- var description = "Split Infinities is the site for William M. Riley";
- var keywords = "";
- var show_hero = true;

block vars

html(class=`theme-${theme} complement-${complement} hanken-sans` lang="en-US")
	head
		title !{name} • !{title}

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="imagetoolbar" content="no")

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		meta(itemprop="name" content=`${title} • ${name}`)
		meta(itemprop="image" content=`${image}`)

		meta(name="description" content=`${description}`)
		meta(name="keywords" content=`${keywords}`)

		meta(property="og:title" content=`${title}`)
		meta(property="og:description" content=`${description}`)
		meta(property="og:site_url" content=`${site_url}`)
		meta(property="og:image" content=`${image}`)

		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:creator" content="@splitinfinities")
		meta(property="twitter:site" content="@splitinfinities")
		meta(property="twitter:title" content=`${title}`)
		meta(property="twitter:image" content=`${image}`)
		meta(property="twitter:url" content=`${site_url}`)

		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="application-name" content=`${title}`)
		meta(name="apple-mobile-web-app-title" content=`${title}`)

		link(rel="manifest" href="/manifest.json")
		link(rel="icon" type="image/png" href="/assets/img/favicon.png")

		//- block styles
		//- 	link(href='/build/stellar.css' rel='stylesheet' type='text/css')
		//- 	link(href='https://unpkg.com/@stellar-design/core/dist/collection/global/fonts/hanken-sans/hanken-sans.css' rel='stylesheet' type='text/css')

		//- block head_scripts
		//- 	script(src='/build/stellar.js')

		block styles
			link(href='https://unpkg.com/@stellar-design/core/dist/stellar.css' rel='stylesheet' type='text/css')
			link(href='https://unpkg.com/@stellar-design/core/dist/collection/global/fonts/hanken-sans/hanken-sans.css' rel='stylesheet' type='text/css')

		block head_scripts
			script(src='https://unpkg.com/@stellar-design/core/dist/stellar.js')

	body(class=`theme-${theme} complement-${complement} hanken-sans`)
		header.w-100.relative.z-4.h3
			div.flex.justify-between.items-center.w-100.h-100
				h2.db.ph3.tc 🤔
				stellar-tabs.mla.mr-auto(style="border:none;" height="auto")
					stellar-tab(href="/" tag="a" open=(tab == "home" ? true : false)) Split Infinities
					//- stellar-tab(href="/about" tag="a" open=(tab == "about" ? true : false) ) About
					stellar-tab(href="/services" tag="a" open=(tab == "services" ? true : false) ) Services
					//- stellar-tab(href="/portfolio" tag="a" open=(tab == "portfolio" ? true : false) ) Portfolio
					//- stellar-tab(href="/speaking" tag="a" open=(tab == "speaking" ? true : false) ) Speaking
					//- stellar-tab(href="/writing" tag="a" open=(tab == "writing" ? true : false) ) Writing
					//- stellar-tab(href="/open-source" tag="a" open=(tab == "open_source" ? true : false) ) Open Source
					//- stellar-tab(href="/mentorship" tag="a" open=(tab == "mentorship" ? true : false) ) Mentorship

				stellar-button(href="/hire-me" tag="link" style="--width: auto") Hire me

		main
			if show_hero
				stellar-layout.pv6.overflow-hidden.relative(size="full" style="background: var(--theme-base8)")
					stellar-starscape.z-1.h-100
					stellar-parallax.flex.z-2.white
						stellar-parallax-section.w-100.mt6(speed="2")
							stellar-scatter(floating min="-100" max="100" sizes)
								stellar-asset(src=`/assets/vector/beaker.svg`)
								stellar-asset(src=`/assets/vector/circle-outline.svg`)
								stellar-asset(src=`/assets/vector/circle.svg`)
								stellar-asset(src=`/assets/vector/diamond-outline.svg`)
								stellar-asset(src=`/assets/vector/diamond.svg`)
								stellar-asset(src=`/assets/vector/fat-x-outline.svg`)
								stellar-asset(src=`/assets/vector/fat-x.svg`)
								stellar-asset(src=`/assets/vector/half-circle-outline.svg`)
								stellar-asset(src=`/assets/vector/half-circle.svg`)
								stellar-asset(src=`/assets/vector/pentagon-outline.svg`)
								stellar-asset(src=`/assets/vector/pentagon.svg`)
								stellar-asset(src=`/assets/vector/square-outline.svg`)
								stellar-asset(src=`/assets/vector/square.svg`)
								stellar-asset(src=`/assets/vector/squiggle-outline.svg`)
								stellar-asset(src=`/assets/vector/squiggle.svg`)
								stellar-asset(src=`/assets/vector/triangle-outline.svg`)
								stellar-asset(src=`/assets/vector/triangle.svg`)
								stellar-asset(src=`/assets/vector/x.svg`)
								stellar-asset(src=`/assets/vector/beaker.svg`)
								stellar-asset(src=`/assets/vector/circle-outline.svg`)
								stellar-asset(src=`/assets/vector/circle.svg`)
								stellar-asset(src=`/assets/vector/diamond-outline.svg`)
								stellar-asset(src=`/assets/vector/diamond.svg`)
								stellar-asset(src=`/assets/vector/fat-x-outline.svg`)
								stellar-asset(src=`/assets/vector/fat-x.svg`)
								stellar-asset(src=`/assets/vector/half-circle-outline.svg`)
								stellar-asset(src=`/assets/vector/half-circle.svg`)
								stellar-asset(src=`/assets/vector/pentagon-outline.svg`)
								stellar-asset(src=`/assets/vector/pentagon.svg`)
								stellar-asset(src=`/assets/vector/square-outline.svg`)
								stellar-asset(src=`/assets/vector/square.svg`)
								stellar-asset(src=`/assets/vector/squiggle-outline.svg`)
								stellar-asset(src=`/assets/vector/squiggle.svg`)
								stellar-asset(src=`/assets/vector/triangle-outline.svg`)
								stellar-asset(src=`/assets/vector/triangle.svg`)
								stellar-asset(src=`/assets/vector/x.svg`)

						stellar-parallax-section.w-100.mt6(speed="-3")
							stellar-scatter(floating min="-100" max="100" sizes)
								stellar-asset(src=`/assets/vector/beaker.svg`)
								stellar-asset(src=`/assets/vector/circle-outline.svg`)
								stellar-asset(src=`/assets/vector/circle.svg`)
								stellar-asset(src=`/assets/vector/diamond-outline.svg`)
								stellar-asset(src=`/assets/vector/diamond.svg`)
								stellar-asset(src=`/assets/vector/fat-x-outline.svg`)
								stellar-asset(src=`/assets/vector/fat-x.svg`)
								stellar-asset(src=`/assets/vector/half-circle-outline.svg`)
								stellar-asset(src=`/assets/vector/half-circle.svg`)
								stellar-asset(src=`/assets/vector/pentagon-outline.svg`)
								stellar-asset(src=`/assets/vector/pentagon.svg`)
								stellar-asset(src=`/assets/vector/square-outline.svg`)
								stellar-asset(src=`/assets/vector/square.svg`)
								stellar-asset(src=`/assets/vector/squiggle-outline.svg`)
								stellar-asset(src=`/assets/vector/squiggle.svg`)
								stellar-asset(src=`/assets/vector/triangle-outline.svg`)
								stellar-asset(src=`/assets/vector/triangle.svg`)
								stellar-asset(src=`/assets/vector/x.svg`)
								stellar-asset(src=`/assets/vector/beaker.svg`)
								stellar-asset(src=`/assets/vector/circle-outline.svg`)
								stellar-asset(src=`/assets/vector/circle.svg`)
								stellar-asset(src=`/assets/vector/diamond-outline.svg`)
								stellar-asset(src=`/assets/vector/diamond.svg`)
								stellar-asset(src=`/assets/vector/fat-x-outline.svg`)
								stellar-asset(src=`/assets/vector/fat-x.svg`)
								stellar-asset(src=`/assets/vector/half-circle-outline.svg`)
								stellar-asset(src=`/assets/vector/half-circle.svg`)
								stellar-asset(src=`/assets/vector/pentagon-outline.svg`)
								stellar-asset(src=`/assets/vector/pentagon.svg`)
								stellar-asset(src=`/assets/vector/square-outline.svg`)
								stellar-asset(src=`/assets/vector/square.svg`)
								stellar-asset(src=`/assets/vector/squiggle-outline.svg`)
								stellar-asset(src=`/assets/vector/squiggle.svg`)
								stellar-asset(src=`/assets/vector/triangle-outline.svg`)
								stellar-asset(src=`/assets/vector/triangle.svg`)
								stellar-asset(src=`/assets/vector/x.svg`)

						stellar-parallax-section
							stellar-image.nt6.db.relative.z-2.w-60.mr7(width="698" height="393.5" preload="/assets/img/cardboard/thumb.jpg")
								source(srcset="/assets/img/cardboard/full.jpg" media="(min-width:1023px) and (min-device-pixel-ratio: 2)")
								source(srcset="/assets/img/cardboard/medium.jpg" media="(min-width:1023px)")
								source(srcset="/assets/img/cardboard/medium.jpg" media="(max-width:640px) and (min-device-pixel-ratio: 2)")
								source(srcset="/assets/img/cardboard/small.jpg" media="(max-width:640px)")
								img(srcset="/assets/img/cardboard/small.jpg" alt="…")

						stellar-parallax-section.top--2(speed="-9")
							stellar-card.w-0.ml6(style="height: max-content;")
								stellar-animate-text(method="fade")
									block hero
										copy-wrap(align="left")
											h1.fs-massive.theme-base5.fw8.lh-solid #{title}

			block content
				stellar-layout(type="sidebar-right" align="top")
					article
						copy-wrap
							h1 Hey hey! Coming soon!
					aside
						- var name = "cardboard";
						- var description = "…";
						- var width = "2792";
						- var height = "1574";

						stellar-image.db(width=`${width}` height=`${height}` preload=`/assets/img/${name}/thumb.jpg`)
							source(srcset=`/assets/img/${name}/full.jpg` media="(min-width:1023px) and (min-device-pixel-ratio: 2)")
							source(srcset=`/assets/img/${name}/medium.jpg` media="(min-width:1023px)")
							source(srcset=`/assets/img/${name}/medium.jpg` media="(max-width:640px) and (min-device-pixel-ratio: 2)")
							source(srcset=`/assets/img/${name}/small.jpg` media="(max-width:640px)")
							img(srcset=`/assets/img/${name}/small.jpg` alt=`${description}`)

						h1 nice

		stellar-layout.db.relative(size="small")
			stellar-starscape
			stellar-grid(padding)
				stellar-card(tag="a" href="/hire-me" style="--background: transparent; --border: 0;")
					div.absolute.bg-theme-base5.db.h-100.left-0.top-0.w-100.z-0
					copy-wrap.relative.z-1(align="center")
						h1.white.fs1.mb4 Want to collaborate?
						stellar-button(block class=`theme-${complement}`) Hire me!

		block body_scripts
