extends partials/layout.pug

block vars
	- var theme = "red";
	- var complement = "orange";

block hero
	copy-wrap(align="left")
		h1.fs-massive.theme-base5.fw8.lh-solid 👋 Hello there!
		h4.theme-base9.lh-copy My name is Will and I make things for money and fun. I’m a product developer, designer, speaker, mentor, and goofball. I adore turning exciting ideas into beautiful&nbsp;products.

block content
	stellar-layout.pv5.relative.overflow-hidden.bg-theme-complement7.theme-blue.complement-indigo
		div.flex.items-center.w-100.nb6
			copy-wrap.mr4.mb5.w-40(align="left")
				stellar-tag(color="theme-complement5") Featured Work
				h1.theme-base2.fw6 Median
					br
					small.fs6 A Cobrowsing Support Tool
				p.fs6.lh-copy.white I collaborated with my friends <a href="#" class="theme-base2 hover-theme-base5">Ben Stevinson</a> and <a href="#" class="theme-base2 hover-theme-base5">Derek Homann</a> on their company, <a href="#" class="theme-base2 hover-theme-base5">Median</a>. Working with <a href="#" class="theme-base2 hover-theme-base5">Adam Nielson</a>, an Omaha Freelance Designer, Adam and I built out a full design system for the Median team. It's so good! 🤤
			stellar-card.w-60
				- var name = "median";
				- var description = "…";
				- var width = "2792";
				- var height = "1574";

				stellar-image.db(width=`${width}` height=`${height}` preload=`/assets/img/${name}/thumb.jpg`)
					source(srcset=`/assets/img/${name}/full.jpg` media="(min-width:1023px) and (min-device-pixel-ratio: 2)")
					source(srcset=`/assets/img/${name}/medium.jpg` media="(min-width:1023px)")
					source(srcset=`/assets/img/${name}/medium.jpg` media="(max-width:640px) and (min-device-pixel-ratio: 2)")
					source(srcset=`/assets/img/${name}/small.jpg` media="(max-width:640px)")
					img(srcset=`/assets/img/${name}/small.jpg` alt=`${description}`)

	stellar-layout.pv5.relative.overflow-hidden.bg-theme-complement7.theme-cyan.complement-violet
		div.flex.items-center.w-100.nb6
			stellar-card.w-60(style="background: #EEEFEA")
				- var name = "stellar";
				- var description = "…";
				- var width = "2792";
				- var height = "1574";

				stellar-image.db(width=`${width}` height=`${height}` preload=`/assets/img/${name}/thumb.jpg`)
					source(srcset=`/assets/img/${name}/full.jpg` media="(min-width:1023px) and (min-device-pixel-ratio: 2)")
					source(srcset=`/assets/img/${name}/medium.jpg` media="(min-width:1023px)")
					source(srcset=`/assets/img/${name}/medium.jpg` media="(max-width:640px) and (min-device-pixel-ratio: 2)")
					source(srcset=`/assets/img/${name}/small.jpg` media="(max-width:640px)")
					img(srcset=`/assets/img/${name}/small.jpg` alt=`${description}`)

			copy-wrap.ml4.mb5.w-40(align="left")
				stellar-tag(color="theme-complement5") Side Project
				h1.theme-base2.fw6.mt2 🌌 Stellar&nbsp;
					br
					small.fs6 A Beautiful, Complete Design System
				p.white Stellar is a pet project of mine and Nicholas Burroughs, a Designer based out of Omaha, NE. The goal of Stellar is to make the most performant and accessible web components available so you can make a Stellar application. This site is built with Stellar!
